<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

      <div class="form-group">
        <label for="titre">
          Titre
        </label>
        <input type="text" id="titre" class="form-control" name="titre" ngModel required>
      </div>

      <div class="form-group">
        <label for="contenu">
          Contenu
        </label>
        <textarea class="form-control" name="contenu" ngModel required></textarea>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Enregistrer</button>

    </form>

  </div>
</div>