<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-collapse">

      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="posts">Posts</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="new">Nouveau Posts</a>
        </li>
      </ul>

    </div>
  </div>
</nav>


<div class="container">
  <div class="row">

    <div class="col-xs-12">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
