

<li [ngClass]="{'list-group-item': true,
    'list-group-item-success': post.loveIts > 0,
    'list-group-item-danger': post.loveIts < 0}">

    <h4>{{post.title}}</h4>
    <p>{{post.content}}</p>
    
    <p>{{post.created_at | date: 'short'}}</p>

    <button class="btn btn-success"
        (click)="onLike()">Love it!
    </button>

    <button class="btn btn-danger"
        (click)="onDislike()">Don't love it!
    </button>

    <button class="btn btn-danger pull-right"
    (click)="onDelete()">Delete
</button>

</li>